.place__paragraph {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    text-align: left;
    margin: 0 0 26px;
    grid-area: text;
    display: flex;
    flex-direction: column;
}