.places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77vw;
    margin: 0 auto;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px){
    .places {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: 94vw;
    }
}