.cover__background {
    width: 96vw;
    opacity: 0.8;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
}

.cover__background:hover {
    opacity: 0.2;
    transition: opacity .5s;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100vw;
    }
}
